# TinyXML-2 uses C++11 features.
build --cxxopt=-std=c++11

build:clang --action_env=CC=clang
build:gcc --action_env=CC=g++
build:stdlib --action_env=BAZEL_CXXOPTS="-stdlib=libc++"
build:stdcpp --action_env=BAZEL_CXXOPTS="-stdlib=libstdc++"

build:linux --platforms=//build_platforms:linux_x86_64
build:mac --platforms=//build_platforms:macos_x86_64
build:windows --platforms=//build_platforms:windows_x86_64
