# TinyXML-2 uses C++11 features.
build --cxxopt=-std=c++11

build:clang --action_env=CC=clang
build:gcc --action_env=CC=g++
build:stdlib --action_env=BAZEL_CXXOPTS="-stdlib=libc++"
build:stdcpp --action_env=BAZEL_CXXOPTS="-stdlib=libstdc++"

build:linux --platforms=//build_platforms:linux_x86_64
build:mac --platforms=//build_platforms:macos_x86_64
build:windows --platforms=//build_platforms:windows_x86_64

#### clang-tidy #####

# Required for bazel_clang_tidy to operate as expected
build:clang-tidy --aspects @bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report

# Optionally override the .clang-tidy config file target
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_config=//:clang_tidy_config

#### debug and release configurations #####

# Default build options
build --define=env=prod

# Debug build configuration
build:debug --//build_settings:debug=true
build:debug --compilation_mode=dbg
build:debug --cxxopt=-g
build:debug --cxxopt=-O0

# Release build configuration
build:release --//build_settings:debug=false
build:release --compilation_mode=opt
build:release --cxxopt=-O2
build:release --define=env=prod

